<div class="main-block">

    <!-- Page heading one starts -->

    <div class="page-heading-one">
        <h2>About Us</h2>
        <p class="bg-color">Where dreams come home.</p>
    </div>

    <!-- Page heading one ends -->

    <div class="container">

        <div class="about-us-one">

            <div class="row">
                <div class="col-md-6">
                    <!-- Logo section -->
                    <div class="about-logo">
                        <!-- logo -->
                        <h2><a href="#"><i class="fa fa-home color"></i> Grant</a> <small>Coolest Real Estate Broker Ever</small></h2>
                        <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. The generate lorem ipsum is there always of free from repe atition a man who chooses to enjoy pleasure repe atition a man who chooses repe atition a man who chooses enjoy of a format pleasure that has no repetition.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-logo">
                        <h3>Something About <span class="color">Grant</span></h3>
                        <p>The generate lorem ipsum is there always of free from repe aformat pleasure that has no repetition tition a man who chooses format pleasure that has no  ipsum is there always of free from repe atition a man who chooses to enjoy pleasure.</p>
                    </div>
                </div>
            </div>

            <hr />
            <br />

            <div class="row">
                <div class="col-md-6">
                    <!-- Heading and para -->
                    <div class="block-heading-two">
                        <h3><span>Why Choose Us?</span></h3>
                    </div>
                    <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.Sed ut perspiciaatis iste natus error sit voluptatem probably haven't heard of them accusamus.</p>
                </div>
                <div class="col-md-6">
                    <div class="block-heading-two">
                        <h3><span>Stuffs We Do</span></h3>
                    </div>
                    <!-- Accordion starts -->
                    <div class="panel-group" id="accordion-alt3">
                        <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                        <div class="panel">
                            <!-- Panel heading -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                        <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-alt3" class="panel-collapse collapse">
                                <!-- Panel body -->
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                        <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                        <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                                        <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #4
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion ends -->

                </div>

            </div>

            <hr />
            <br />
            <!-- Our Process starts -->
            <!-- Heading -->
            <div class="block-heading-six">
                <h4 class="bg-color">Our Process</h4>
            </div>
            <br />
            <div class="our-process">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Our Process Item-->
                        <div class="our-process-item">
                            <!-- Icon -->
                            <a href="#" class="white bg-red"> <i class="fa fa-lightbulb-o"></i></a>
                            <!-- Arrow Image -->
                            <img src="../Content/Brave/img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs" />
                            <!-- Heading -->
                            <h4>Idea</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our-process-item">
                            <a href="#" class="white bg-lblue"> <i class="fa fa-desktop"></i></a>
                            <img src="../Content/Brave/img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs" />
                            <h4>Prototype</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our-process-item">
                            <a href="#" class="white bg-green"> <i class="fa fa-code"></i></a>
                            <img src="../Content/Brave/img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs" />
                            <h4>Coding</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our-process-item">
                            <a href="#" class="white bg-purple">
                                <i class="fa fa-check-square-o"></i>
                            </a>
                            <h4>Testing</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Process ends -->

            <hr />

        </div>

    </div>
</div>

