
<div class="main-block">
    <div class="contact-us-four">

        <div class="contact-map">
            <!-- Map Link -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m20!1m8!1m3!1d5381.053533003155!2d-122.32610016250092!3d47.59644607714795!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x54906abd17a283b5%3A0x7c3ab938dd8605b7!2sWarring+Properties%2C+787+Maynard+Ave+S%2C+Seattle%2C+WA+98104!3m2!1d47.596182!2d-122.32531399999999!5e0!3m2!1sen!2sus!4v1415400374765" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>

        <br />

        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="contact-item">
                        <!-- Contact Form -->
                        <div class="contact-form">
                            <h4><i class="fa fa-envelope color"></i>&nbsp;&nbsp;Contact Form</h4>
                            <hr />
                            <!-- Form -->
                            <form class="form" role="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="comments" rows="8" placeholder="Enter Message"></textarea>
                                </div>
                                <!-- Button -->
                                <button type="button" class="btn btn-red">Submit</button>&nbsp;
                                <button type="button" class="btn btn-default">Reset</button>
                            </form>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-6 col-sm-6">

                    <h4><i class="fa fa-user color"></i>&nbsp;&nbsp;Get In Touch</h4>
                    <p>Itaque earum rerum niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup atque atatum tenetur volup tatum earum rerum niti atque  tatum.</p>
                    <div class="brand-bg">
                        <!-- Social Media Icons -->
                        <a href="#" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus circle-3"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin circle-3"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest circle-3"></i></a>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Heading -->
                            <h4><i class="fa fa-home color"></i>&nbsp;&nbsp;Warring Properties</h4>
                            <!-- Paragraph -->
                            <p>
                                787 Maynard Ave S,<br />
                                Seattle, WA 98104
                            </p>
                            <p>
                                <i class="fa fa-phone color"></i>&nbsp;&nbsp;Tel : 1 + (425) 463-8118<br />
                                <i class="fa fa-envelope color"></i>&nbsp;&nbsp;Mail : grant.wadehuang@gmail.com<br />
                        </div>
                        <div class="col-md-6">
                            <h4><i class="fa fa-calendar color"></i>&nbsp;&nbsp;Business Hours</h4>
                            <p>
                                Weekdays : 9:00 AM to 6:00 PM<br />
                                Weekends : By Appointments<br />
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
