
<div class="main-block">

    <!-- Page heading two starts -->

    <div class="page-heading-two">
        <div class="container">
            <h2>Service <span>-- Your Home, our priority!</span></h2>
            <div class="breads">
                Home / <a href="#">Page</a> / <a href="#">Sub Page</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Page heading two ends -->

    <div class="container">

        <!-- Top shadow block -->
        <div class="box-shadow-outer">
            <div class="box-shadow-block box-shadow-2">
                <h5>What We Do For You...</h5>
                <p>We provide full service on home buying, selling, and property management.</p>
            </div>
        </div>

        <!-- Icob boxes -->
        <div class="icon-box-3">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box Three Item -->
                    <div class="icon-box-3-item bg-red">
                        <!-- Heading -->
                        <i class="fa fa-user"></i>
                        <!-- Heading -->
                        <h4><a href="#">Home Buying</a></h4>
                        <ul>
                            <li>Information Gathering.</li>
                            <li>Touring homes.</li>
                            <li>Making offers.</li>
                            <li>Home Inspection.</li>
                            <li>Mortgage Application.</li>
                            <li>Closing Transaction.</li>
                        </ul>
                        <!-- Button
                        <a href="#"> Read More <i class="fa fa-angle-double-right"></i> </a>-->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box Three Item -->
                    <div class="icon-box-3-item bg-lblue">
                        <i class="fa fa-desktop"></i>
                        <h4><a href="#">Home Selling</a></h4>
                        <ul>
                            <li>Market Analysis.</li>
                            <li>Recommendation for preparing home for sale.</li>
                            <li>Marketing your home.</li>
                            <li>Screening potential buyers.</li>
                            <li>Closing Transaction.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box Three Item -->
                    <div class="icon-box-3-item bg-green">
                        <i class="fa fa-leaf"></i>
                        <h4><a href="#">Property Management</a></h4>
                        <ul>
                            <li>Advertizing your property.</li>
                            <li>Screening tenants.</li>
                            <li>Collecting rents.</li>
                            <li>Bookkeeping.</li>
                            <li>Home Repairs</li>
                            <li>emergency handling</li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="col-md-3 col-sm-6">
                    Icon Box Three Item
                    <div class="icon-box-3-item bg-purple">
                        <i class="fa fa-cog"></i>
                        <h4><a href="#">Doloribus Asperioreion</a></h4>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</p>
                        <a href="#"> Read More <i class="fa fa-angle-double-right"></i> </a>
                    </div>
                </div>-->
            </div>
        </div>

        <hr />
        <br />

        <div class="row">
            <div class="col-md-7">
                <!-- Nav tabs -->
                <div class="nav-tabs-two">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home-2" data-toggle="tab">Home Buying</a></li>
                        <li><a href="#profile-2" data-toggle="tab">Home Selling</a></li>
                        <li><a href="#messages-2" data-toggle="tab">Home Rental</a></li>
                    </ul>
                    <!-- Tab content -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home-2">
                            <ul>
                                <li>I will make a Comparative Market Analysis which includes recently sold homes as well as similar properties around that area in order to assist Buyer's offer amount and help buyer to get the best worth for their money.</li>
                                <li>I will obtain a copy of the subdivision layout and research the property's ownership and deed type. With that, I will also verify the legal description of the property and check the land usage, coding, deed restrictions, zoning, and current use of property as applicable. I will confirm the current public schools and school district that the prospective home belongs in.</li>
                                <li>I will coordinate with seller to complete buyer's home inspection, and review the home inspector's report with the buyer.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="profile-2">
                            <ul>
                                <li>I will make an appointment with you via e-mail for the listing presentation, and call to confirm. I will give the seller an overview of the current market conditions and estimates of future conditions. I will make a Comparative Market Analysis which includes current listings as well as sold properties as to offer pricing strategy based on my interpretation of current market conditions.</li>
                                <li>I will discuss goals with seller, and explain the tools that I will use in order to market said property. Use of web marketing, as well as MLS.</li>
                                <li>I will take calls from any other brokers or potential buyers and screen them to make sure they are qualified buyers.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="messages-2">
                            <ul>
                                <li>I will screen potential tenants and select tenants based on their credit scores, criminal and eviction records.</li>
                                <li>I will take care of home reapirs and emergency events requested by the tenants.</li>
                                <li>I will collect rents and mmaintain accounting information for your rental property.</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-5">
                <h5>Why Choose Us?</h5>
                <p>We will work with you as a team to achieve your best posible option while minimizing your expenses.</p>
                <ul class="list-3">
                    <li>Utilize multiple marketing channel, such as MLS, websites, flyers and various publications.</li>
                    <li>Consistent and prompt communication.</li>
                    <li>Availabe 7 days a week to serve your needs.</li>
                    <li>Watching over your interest.</li>
                    <li>Commisions negotiable.</li>
                </ul>
            </div>
        </div>

    </div>
