@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container">
    
    <h1>Welcome to Admin Panel </h1>
    <p>Lorem ipsum nisl netus eleifend aliquam sodales condimentum praesent justo etiam, fringilla egestas taciti sem orci ad lacinia ut netus nunc, nibh ante nullam conubia pulvinar congue semper orci donec convallis arcu ornare felis donec dapibus auctor platea tempor, eleifend ipsum ante nisi class viverra convallis primis, nulla porttitor senectus libero orci tellus habitasse.</p>
    <p>Ornare molestie himenaeos duis varius vel sapien ad, cubilia ornare cursus bibendum arcu curae, erat vulputate habitasse viverra odio aenean cursus quisque feugiat aliquet non condimentum habitant ullamcorper et donec malesuada felis, fusce vel urna auctor lorem volutpat dictum venenatis facilisis eget fames, auctor aenean augue aliquam ornare mattis ligula urna scelerisque consequat purus cras blandit orci convallis sodales.</p>
    @*<p>Orci sociosqu quisque maecenas integer sapien per imperdiet dapibus elementum ante faucibus, arcu leo aliquet habitant convallis urna semper varius aenean eu eros quam semper nibh arcu platea turpis a nostra, lobortis turpis curabitur inceptos sem porttitor dictumst, donec nisi commodo tempus felis nam donec tincidunt suscipit integer augue fusce fermentum dapibus metus.</p>
    <p>Curabitur laoreet malesuada torquent viverra risus habitasse quis ullamcorper, adipiscing interdum lorem nullam primis metus neque tincidunt aenean, dui fermentum eros placerat laoreet dapibus massa ante tempor tincidunt pellentesque venenatis tellus accumsan pretium cubilia euismod semper risus cras senectus semper suscipit morbi erat habitant porttitor posuere, ut mauris vivamus rhoncus orci est sit, curabitur tellus aenean pellentesque interdum laoreet tempor.</p>
    <p>Commodo metus consequat sodales egestas praesent quisque himenaeos faucibus congue, fames ligula purus a ad interdum venenatis gravida facilisis netus, vitae sociosqu velit mauris netus augue suspendisse purus sed ornare conubia ultrices donec imperdiet fermentum, lacinia inceptos quisque curae massa ut, taciti justo hendrerit mi class, malesuada duis curabitur tellus vivamus.</p>*@
</div>