@{
    ViewBag.Title = "Email Confirmation";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="container">
    <h1 class="page-title">@ViewBag.Heading</h1>

    <p>@ViewBag.Message</p>
    
</div>